{% extends "base.html.twig" %}
{% block main %}

    <div style="display:center; border: 10px solid black;">
        <h1><center> Lucky Number </center></h1>
        <div><center>{{number}}</center></div>
  </div>
    <style type="text/css">
       body {
         background-color:teal
       }
    </style>  
{% endblock %}
