
        <div style="float:left; width:10%; background-color:red; height:1500px;">
            <div id="sidebar" style="float: left">
                    <ul>
                        <li><a href="{{ path('login') }}">Login</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/lucky-number">Lucky Numbers</a></li>
                    </ul>
                <?php endif; ?>
            </div>
        </div>
        <div style="float:right; width:75%; height:500px;">
        </div>
                
   
